@import "partials/surfaces";
@import "partials/limitations";
@import "vars";

:host{
  @extend ._card;
  @extend ._no-selection;
  @include marginalElementEdge(top);
  width: 100%;
  height: $large-panel-bar;
  background-color: $primary-background;
  .app-branding {
    .logo{
      display: inline-block;
      width: 1em;
      vertical-align: middle;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
