@import "partials/surfaces";
@import "var-colors";
@import "var-sizes";

:host{
  @extend .card;
  @include marginalElementEdge(bottom);
  width: 100%;
  background-color: $primary-background;
  height: $large-panel-bar;
}
