<ol>
  <li *ngFor="let step of steps | sortByOrder">
    <app-sortable-list-item [(ngModel)]="step.order" (orderChanged)="onOrderChanged(step, $event)" [maxOrder]="steps.length">
      <app-step-thumbnail *ngIf="!editing[step.id]" [stepId]="step.id">
        <button (click)="editing[step.id] = true;">edit</button>
      </app-step-thumbnail>
      <app-step-detail [stepId]="step.id" *ngIf="editing[step.id]" (doneEditing)="editing[step.id] = false;"></app-step-detail>
    </app-sortable-list-item>
  </li>
  <li>
    <app-step-detail (doneEditing)="stepAdded($event)"></app-step-detail>
  </li>
</ol>
