<ng-form *ngIf="virtualArray_Controls; else directControl">
  <app-array-input [ngModel]="virtualArray_Controls | async"
                   *ngIf="virtualArray_Controls | async"
                   [ngModelOptions]="{standalone: true}"
                   (ngModelChange)="onVirtualArrayChanges($event)"
                   [archetype]="archetype"
                   [addAt]="addAt"
                   [orderable]="orderable"
                   [disabled]="disabled"
                   [itemTemplate]="itemTemplate"
                   [orderShift]="orderShift"
                   [maxItems]="maxItems"
                   [minItems]="minItems">
  </app-array-input>
</ng-form>
<ng-template #directControl>
  <ol *ngIf="orderable; else unorderedListTemplate">
    <ng-container *ngTemplateOutlet="listContentTemplate"></ng-container>
  </ol>

  <ng-template #unorderedListTemplate>
    <ul>
      <ng-container *ngTemplateOutlet="listContentTemplate"></ng-container>
    </ul>
  </ng-template>
</ng-template>

<ng-template #listContentTemplate>
  <li *ngIf="addAt == addAtTypes.START">
    <button type="button" tabindex="0" (click)="addItem($event)" class="add-item">add {{itemName}}</button>
  </li>
  <li *ngFor="let sortable of sortableItems; trackBy: trackByFn">
    <label *ngIf="orderable">
      <input type="number"
             #itemOrder
             [min]="orderShift"
             [max]="sortableItems.length - 1 + orderShift"
             [value]="sortable.order"
             class="item-order"
             (focus)="onFocus(sortable.order)"
             (blur)="onBlur(sortable.order)"
             (change)="reorderItems($event.target.value, sortable.order)"
             (keydown)="onOrderKeydown($event, sortable.order)"
             tabindex="1">
      .
    </label>
    <div class="input-wrapper">
      <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: sortable, itemIndex: i}"></ng-container>
    </div>
    <button tabindex="2"
            class="remove-item"
            (focus)="onFocus(sortable.item)"
            (blur)="onBlur(sortable.item)"
            (click)="removeItem(sortable.order, $event)">remove</button>
  </li>
  <li *ngIf="addAt == addAtTypes.END">
    <button type="button" tabindex="0" (click)="addItem($event)" class="add-item">add {{itemName}}</button>
  </li>
</ng-template>
