<ol *ngIf="orderable; else unorderedListTemplate">
  <ng-container *ngTemplateOutlet="listContentTemplate"></ng-container>
</ol>

<ng-template #unorderedListTemplate>
  <ul>
    <ng-container *ngTemplateOutlet="listContentTemplate"></ng-container>
  </ul>
</ng-template>


<ng-template #listContentTemplate>
  <li *ngIf="addAt == addAtTypes.START">
    <button type="button" tabindex="0" (click)="addItem($event)" class="add-item">add</button>
  </li>
  <!--TODO: Learn to use trackby here. In track by there's problem with missing id. Have a temp ids store-->
  <li *ngFor="let sortable of sortableItems">
    <label *ngIf="orderable">
      <input type="number"
             [min]="orderShift"
             [max]="sortableItems.length - 1 + orderShift"
             [value]="sortable.order"
             class="item-order"
             (focus)="onFocus(sortable.item)"
             (blur)="onBlur(sortable.item)"
             (change)="reorderItems($event.target.value, sortable.order)"
             (keydown)="onOrderKeydown($event, sortable.order)"
             tabindex="1">
      .
    </label>
    <div class="input-wrapper">
      <ng-container *ngTemplateOutlet="itemTemplate; context: {$implicit: sortable, itemIndex: i}"></ng-container>
    </div>
    <button tabindex="2"
            class="remove-item"
            (focus)="onFocus(sortable.item)"
            (blur)="onBlur(sortable.item)"
            (click)="removeItem(sortable.order, $event)">remove</button>
  </li>
  <li *ngIf="addAt == addAtTypes.END">
    <button type="button" tabindex="0" (click)="addItem($event)" class="add-item">add</button>
  </li>
</ng-template>
