<div class="row">
    <div class="col-12 col-sm-4 col-md-3 sidebar">
        <div *ngIf="sequence?._id">
            <h3>Items:</h3>
            <nav class="nav flex-column">
                <a class="nav-link active" *ngFor="let item of (sequence?.itemsSequence | itemsSort:(items | async))" href="javascript:;" (click)="editItem(item._id)">{{ item?.name }}</a>
                <a href="javascript:;" class="nav-link btn btn-outline-primary" (click)="createNewItem()">+ Add an item</a>

            </nav>
        </div>
        <div *ngIf="!sequence?._id">
            <h3>New sequence <i class="fa fa-long-arrow-right" aria-hidden="true"></i></h3>
        </div>
    </div>
    <div class="col-12 col-sm-8 col-md-9">
        <inplace-edit-switch *ngIf="sequence" [editState]="sequenceEditorIsActive" class="row mb-5">
            <div viewer (click)="sequenceEditorIsActive = true" class="col-12">
                <h1 class="display-3">{{sequence.name}}</h1>
                <p class="lead">{{sequence.description}}</p>
            </div>
            <div editor *ngIf="sequenceDescriptorFormGroup" class="col-12">
                <form [formGroup]="sequenceDescriptorFormGroup" (ngSubmit)="saveSequenceDescriptor(sequenceDescriptorFormGroup)">
                    <fieldset class="form-group">
                        <label for="sequenceName">Sequence name:</label>
                        <small class="form-text text-muted">This name is visible to respondents</small>
                        <input class="form-control" type="text" formControlName="sequenceName" id="sequenceName" placeholder="Give your sequence a descriptive title" [(ngModel)]="sequence.name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="sequenceDescription">Description:</label>
                        <small class="form-text text-muted">This text is <span class="caps">not</span> visible to respondents</small>
                        <textarea class="form-control" type="text" formControlName="sequenceDescription" id="sequenceDescription" placeholder="Note here all the general information" [(ngModel)]="sequence.description"></textarea>
                    </fieldset>
                    <button type="reset" (click)="sequenceEditorIsActive = false" class="btn btn-outline-secondary">Cancel editing</button>
                    <button type="submit" class="btn btn-primary">Done</button>
                </form>
            </div>
        </inplace-edit-switch>

        <div class="row" *ngIf="sequence?._id">
            <ul class="col-12" dnd-sortable-container [sortableData]="sequence?.itemsSequence">
                <li class="card" *ngFor="let item of (sequence?.itemsSequence | itemsSort:(items | async)); let i = index" dnd-sortable [sortableIndex]="i" (onDropSuccess)="updateSequence($event)">
                    <item-editor class="card-block" *ngIf="item?._id" [itemId]="item?._id" [(itemEditorIsActive)]="item._id===activeItemEditor"></item-editor>
                </li>
                <li class="card">
                    <button class="btn btn-block btn-outline-primary" (click)="createNewItem()">+ Add an item</button>
                </li>
            </ul>
        </div>

    </div>
</div>