<div class="row">
    <div class="col-12 col-sm-4 col-md-3 sidebar">
        <h3>Items:</h3>
        <nav class="nav flex-column">
            <a class="nav-link active" *ngFor="let item of items | async" href="#item_{{item}}">{{item.name}}</a>
            <a class="nav-link btn btn-outline-primary" (click)="createNewItem()">+ Add an item</a>
        </nav>
    </div>
    <div class="col-12 col-sm-8 col-md-9">
        <!--TODO: chage to form with formgroup-->
        <!--<div>-->
        <!--sequence form-->

        <inplace-edit-switch *ngIf="sequence" [editState]="sequenceEditorIsActive">
            <div viewer (click)="sequenceEditorIsActive = true">
                <h1 class="display-3">{{sequence.name}}</h1>
                <p class="lead">{{sequence.description}}</p>
            </div>
            <div editor *ngIf="sequenceDescriptorFormGroup">
                <form [formGroup]="sequenceDescriptorFormGroup" (ngSubmit)="saveSequenceDescriptor(sequenceDescriptorFormGroup)">
                    <fieldset class="form-group">
                        <label for="sequenceName">Sequence name:</label>
                        <small class="form-text text-muted">This name is visible to respondents</small>
                        <input class="form-control" type="text" formControlName="sequenceName" placeholder="Give your sequence a descriptive title" [(ngModel)]="sequence.name">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="sequenceName">Description:</label>
                        <small class="form-text text-muted">This text is <span class="caps">not</span> visible to respondents</small>
                        <textarea class="form-control" type="text" formControlName="sequenceDescription" placeholder="Note here all the general information" [(ngModel)]="sequence.description"></textarea>
                    </fieldset>
                    <button type="reset" (click)="sequenceEditorIsActive = false" class="btn btn-outline-secondary">Cancel editing</button>
                    <button type="submit" class="btn btn-primary">Done</button>
                </form>
            </div>
        </inplace-edit-switch>
        <!--item form-->
        <div class="col-12" dnd-sortable-container>

            <inplace-edit-switch class="card" *ngFor="let item of items | async" dnd-sortable [editState]="activeItemEditor === item._id">
                <div viewer class="card-block">
                    <h3>{{item.name}}</h3>
                    <p>{{item.description}}</p>
                </div>
                <div editor class="card-block">
                    <item-editor></item-editor>
                </div>
            </inplace-edit-switch >
        </div>
        <!--</div>-->
    </div>
</div>

<!--<section *ngIf="item && responseForm">-->
    <!--<item-response (submitCall)="submitItemResponse($event)" [item]="item" [(responseForm)]="responseForm" class="row"></item-response>-->
    <!--<submit-control (submitCall)="submitItemResponse($event)" (resetCall)="resetResponseForm($event)"></submit-control>-->
<!--</section>-->




<!-- http://localhost:3000/response/MhqZ26EnQE96TLWZs/qZZGA5yGMtK46gA4s -->