<div class="row">
    <h1>Hoi! ama seq editar</h1>
    <div class="col-xs-12 col-sm-8 offset-sm-2">
        <div>
            <fieldset>
                <label for="responseInput">Sequence</label>
                <small id="responseHelp" class="form-text text-muted">array of ids</small>
                <input type="text">

            </fieldset>
        </div>
    </div>    
</div>

<!--<section *ngIf="task && responseForm">-->
    <!--<item-response (submitCall)="submitItemResponse($event)" [task]="task" [(responseForm)]="responseForm" class="row"></item-response>-->
    <!--<submit-control (submitCall)="submitItemResponse($event)" (resetCall)="resetResponseForm($event)"></submit-control>-->
<!--</section>-->




<!-- http://localhost:3000/response/MhqZ26EnQE96TLWZs/qZZGA5yGMtK46gA4s -->