<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <a class="tip-expand" #expandTipAnchor>(?)</a>
    <div class="projects-grid">
      <app-in-flow-tip name="projectsGridDescription" [expandAnchor]="expandTipAnchor" [hidden]="!(projects | async).length">
        All projects will appear here. Start by creating a new one
      </app-in-flow-tip>
      <fieldset [formGroup]="projectForm">
        <div class="new-project-tile">
          <input type="text" formControlName="name">
          <button (click)="saveProject($event)">save</button>
        </div>
      </fieldset>
      <ng-container *ngFor="let project of projects | async">
        <div class="project-tile">
          <a routerLinkActive="active" [routerLink]="[project.id]">
            <app-project-thumbnail [dataItem]="project">
            </app-project-thumbnail>
          </a>
          <!--<button (click)="deleteProject(project.id)">remove</button>-->
        </div>
      </ng-container>
    </div>
  </ng-template>
</app-dynamic-state>

