<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <div class="projects-grid">
      <fieldset [formGroup]="projectForm">
        <div class="new-project-tile">
          <input type="text" formControlName="name">
          <button (click)="saveProject($event)">save</button>
        </div>
      </fieldset>
      <ng-container *ngFor="let project of projects | async">
        <div class="project-tile">
          <a [routerLink]="[project.id]">
            <app-project-thumbnail [dataItem]="project">
            </app-project-thumbnail>
          </a>
          <!--<button (click)="deleteProject(project.id)">remove</button>-->
        </div>
      </ng-container>
    </div>
  </ng-template>
</app-dynamic-state>

