<ng-container *ngIf="state | async">
  <dl>
    <div>
      <dt>
        entries count:
      </dt>
      <dd>
        {{dataItem.stepResponsesIds.length}}
      </dd>
    </div>
    <div>
      <dt>
        updated date
      </dt>
      <dd>
        {{dataItem.updatedDate | date: 'short'}}
      </dd>
    </div>
    <div>
      <dt>
        created date
      </dt>
      <dd>
        {{dataItem.createdDate | date: 'short'}}
      </dd>
    </div>
  </dl>
  <ng-content></ng-content>
</ng-container>
