<fieldset *ngIf="asset">
  <label>
    Asset type
    <select [(ngModel)]="asset.type" #assetType>
      <option *ngFor="let type of assetTypes; index as i;" [value]="i">{{type}}</option>
    </select>
  </label>

  <fieldset *ngIf="assetType.value === '0'">
    <label>
      Content type
      <select [(ngModel)]="asset.contentType">
        <option *ngFor="let type of contentTypes; index as i;" [value]="i">{{type}}</option>
      </select>
    </label>

    <label>
      Content
      <input type="text" [(ngModel)]="asset.content">
    </label>
  </fieldset>

  <fieldset *ngIf="assetType.value === '1'">
    <label>
      Content source
      <select [(ngModel)]="asset.source">
        <option *ngFor="let src of availableSources" [value]="src._id">{{src.name}}</option>
      </select>
    </label>
  </fieldset>

</fieldset>
