<fieldset *ngIf="dataReady">
  <label>
    Asset type
    <select [(ngModel)]="asset.assetType" #assetType>
      <option *ngFor="let type of assetTypes" [value]="type">{{type}}</option>
    </select>
  </label>

  <label>
    Content type
    <select [(ngModel)]="asset.contentType" #assetContentType>
      <option *ngFor="let type of contentTypes" [value]="type">{{type}}</option>
    </select>
  </label>

  <fieldset [ngSwitch]="assetContentType.value">
    <label *ngSwitchCase="'text'">
      Text
      <textarea [(ngModel)]="asset.content"></textarea>
    </label>
    <label *ngSwitchCase="'file'">
      File
      <input type="file" [(ngModel)]="asset.content"/>
    </label>
    <label *ngSwitchCase="'file'">
      Remote url
      <input type="url" [(ngModel)]="asset.content"/>
    </label>
    <label *ngSwitchDefault>
      Something to develop...
    </label>
  </fieldset>
</fieldset>
