/**
 * Created by a.nvlkv on 19/11/2016.
 */

@import "./bootstrap-config";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./fix_bootstrap";
@import "./tiny_helpers";


main{
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
}

sequence-response,
sequence-editor{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  align-self: stretch;
}

item-editor{
  width: 100%;
}

.sidebar{
  border-right: 1px solid $btn-secondary-border;
}

.caps{
  text-transform: uppercase;
}

