@import "vars";
@import "~breakpoint-sass";
@import "partials/surfaces";

:host {
  @extend .__card;
  flex-direction: column;
  app-dynamic-state {
    > * {
      white-space: nowrap;
      > *:not(dl) {
        white-space: normal;
      }
    }
  }

  app-array-input {
    background-color: $container-background;
    box-shadow: inset $x-thin-line $x-thin-line $x-thin-line $x-thin-line rgba($primary-text-color, .25);
    padding: $small-white-space;
  }
}
