<div [ngSwitch]="true">
  <input type="checkbox" value="true" *ngSwitchCase="step.item.expects === 'one' && step.item.offers === 'one'" [(ngModel)]="stepResponse" name="response">
  <input type="radio" [value]="asset.content" *ngSwitchCase="step.item.expects === 'one' && step.item.offers === 'multiple'" [(ngModel)]="stepResponse" name="response">
  <input type="text" *ngSwitchCase="step.item.expects === 'one' && step.item.offers === 'none'" [(ngModel)]="stepResponse" name="response">
  <input type="checkbox" [value]="asset.content" *ngSwitchCase="step.item.expects === 'multiple' && step.item.offers === 'multiple'" [(ngModel)]="stepResponse" name="response">
  <app-old-list-input *ngSwitchCase="step.item.expects === 'multiple' && ['one', 'none'].indexOf(step.item.offers) >= 0" [edgeControl]="edgeControl" [itemInput]="itemInput" [itemControl]="itemControl" [listItems]="innerValue">
    <ng-template #itemInput let-i>
      <!--<button>add item</button>-->
      <!--{{item | json}}-->
      <input type="text" [name]="i+'_response'" [(ngModel)]="stepResponse[i].response" (keypress)="onkeypress($event)" appAutoFocus [autoFocus]="i === innerValue.length - 1">
    </ng-template>
    <ng-template #itemControl let-i>
      <button (click)="removeItem(i)" *ngIf="i>0">x</button>
    </ng-template>
    <ng-template #edgeControl>
      <button (click)="addItem($event)">add item</button>
    </ng-template>
  </app-old-list-input>
</div>
