<div *ngIf="item" [ngSwitch]="item.type">
  <h1>{{item.question}}</h1>
  <form form="responseForm" (submit)="submitResponse(response)">
    <app-list-input *ngSwitchCase="itemTypes.list" [(ngModel)]="response" name="list"></app-list-input>
    <app-select-multiple-input *ngSwitchCase="itemTypes.selectMultiple" [(ngModel)]="response" name="selectMultiple" [assets]="item.assets" ></app-select-multiple-input>
    <input type="reset" value="Clear"/>
    <input type="submit" value="Save & continue"/>
  </form>
</div>
