@import "partials/surfaces";
@import "vars/var-sizes";

:host{
  width: 100%;
}
.projects-grid{
  @extend ._grid-surfaces-container;
  min-width: 0;
  min-height: 0;

  > *{
    a, .new-project-tile {
      @extend ._base-surface;
      height: 100%;
      width: 100%;
    }

    app-project-thumbnail{
      @extend ._card;
      width: 100%;
      max-height: 33vh;
      min-height: 100%;
      overflow: hidden;
    }

    .new-project-tile {
      flex-direction: column;
      align-content: stretch;
      input {
        flex-grow: 1;
        flex-shrink: 0;
      }
      button {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }
}
