<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <div class="projects-grid">
      <fieldset [formGroup]="projectForm">
        <div class="new-project-tile">
          <input type="text" formControlName="name">
          <button (click)="saveProject($event)">save</button>
        </div>
      </fieldset>
      <div *ngFor="let project of projects | async">
        <a [routerLink]="[project.id]">
          <app-project-thumbnail [dataItem]="project"></app-project-thumbnail>
        </a>
      </div>
    </div>
  </ng-template>
</app-dynamic-state>

