@import "partials/surfaces";
@import "vars/var-sizes";

:host{
  width: 100%;
}
.projects-grid{
  @extend ._grid-surfaces-container;
  min-width: 0;
  min-height: 0;

  > *:not(.new-project-tile) {
    min-width: 0;
    min-height: 0;
  }

  .new-project-tile{
    @extend ._card;
    height: 100%;
    width: 100%;
  }
}
