@import "../../../styles/shared/partials/surfaces/base-surface";

:host{
  @extend .__base-surface;
  flex-direction: column;
  h3{
    flex-grow: 0;
    flex-basis: 30%;
  }
  .note{
    flex-grow: 0;
    flex-basis: 30%;
    flex-shrink: 1;
    span{
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}
