@import "normailization-config";
@import "~normalize-scss";
@import "shared/vars/var-colors";
@include normalize();

body{
  color: $primary-text-color;
  background-color: darken($primary-background, 10%);
  &, * {
    box-sizing: border-box;
  }
}
