// include normalize first!
@import "normailization-config";
@import "~normalize-scss";
@include normalize();
// end normalize

@import "shared/vars";
@import "~breakpoint-sass";
@import "shared/partials/forms";
@import "shared/partials/controls";
@import "shared/partials/indicators";

body{
  color: $primary-text-color;
  background-color: darken($primary-background, 10%);
  font-size: $font-size-unit;
  &, * {
    box-sizing: border-box;
  }
}
