@import "normailization-config";
@import "~normalize-scss";
@import "var-colors";
@include normalize();

body{
  color: $primary-text-color;
  background-color: $primary-background;
  &, * {
    box-sizing: border-box;
  }
}
