@import "vars";

button {
  margin: $x-small-white-space;
  border: $thin-line solid $primary-interactive;
  color: $primary-interactive;
  background-color: $primary-interactive-background;
  font-size: $medium-font-size;
}

a {
  text-decoration: none;
  color: $primary-interactive-accent;

  &:visited {
    color: $primary-interactive;
  }

  &:hover {
    color: $primary-interactive-accent;
    text-decoration: underline;
  }

  &:active {
    color: darken($primary-interactive-accent, 20%);
  }

  &.active {
    &, &:hover, &:active {
      color: $primary-text-color;
      text-decoration: none;
      cursor: default;
      background-color: $primary-accent;
    }
  }
}
