@import "vars";
@import "surfaces";

dl{
  @extend .__base-surface;
  background: none;
  flex-wrap: wrap;

  div{
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $small-white-space;
    display: flex;
  }
  dt, dd{
    flex-grow: 0;
    font-size: $font-size-unit;
    padding: $x-small-white-space;
    border: $x-thin-line solid $primary-accent;
    margin: $x-small-white-space 0;
  }

  dt {
    overflow: hidden;
    border-right: none;
    background-color: rgba(darken($primary-background, 10%), .5);
  }
  dd{
    border-left: none;
    background-color: $primary-background;
    color: $secondary-accent;
  }
}
