._fits-on-screen{
  max-height: 90vh;
  max-width: 90vw;
}

._fits-on-screen-important{
  @extend ._fits-on-screen;
  display: block !important;
  overflow: auto !important;
}

._no-selection{
  user-select: none;
}
