<div *ngIf="sequence">
  <h1>{{sequence.name}}</h1>
  <p>{{sequence.description}}</p>
  <ul>
    <li *ngFor="let itemId of sequence.itemsIds">
      <app-item-thumbnail [itemId]="itemId" *ngIf="activeItemEditor != itemId">
        <button (click)="activateItemEditor(itemId)">Edit</button>
        <button (click)="removeItem(itemId)">Delete</button>
      </app-item-thumbnail>
      <app-item-editor [itemId]="itemId" (itemSaved)="doneEditing($event)"
                       *ngIf="activeItemEditor == itemId"></app-item-editor>
    </li>
  </ul>
  <button (click)="addItem()">+ New item</button>
</div>
