@import "vars/var-breakpoints";
@import "~breakpoint-sass";
@import "vars/var-sizes";

@mixin gridSurfacesContainer($x-large-screen-count: 1,
  $large-screen-count: 1,
  $medium-screen-count: 1,
  $small-screen-count: 1
){
  display: grid;
  grid-template-columns: repeat($small-screen-count, 1fr [col-start]);
  @include breakpoint($medium-screen) {
    grid-template-columns: repeat($medium-screen-count, 1fr [col-start]);
  }
  @include breakpoint($large-screen) {
    grid-template-columns: repeat($large-screen-count, 1fr [col-start]);
  }
  @include breakpoint($x-large-screen) {
    grid-template-columns: repeat($x-large-screen-count, 1fr [col-start]);
  }
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: $small-white-space;
  margin: $medium-white-space;
}

._grid-surfaces-container {
  @include gridSurfacesContainer(4, 3, 2, 1);
}
