<div class="base-form-container" *ngIf="form" [formGroup]="form">
  <ng-container *ngFor="let input of config.inputs" [ngSwitch]="input.type">

    <ng-container *ngSwitchCase="'yes-no'">
      <app-yes-no-input></app-yes-no-input>
    </ng-container>

    <ng-container *ngSwitchCase="'list-input'">
      <app-list-input [formGroup]="form" [formArrayName]="input.name" [itemConfig]="input.value.inputs[0]"></app-list-input>
    </ng-container>

    <fieldset *ngSwitchCase="'select-single'">
      <label *ngFor="let radio of input.value?.inputs">
        {{radio.value}}
        <input type="radio" [formControlName]="radio.name" [value]="radio.value"/>
      </label>
    </fieldset>

    <fieldset *ngSwitchCase="'select-multiple'" [formGroupName]="input.name">
      <label *ngFor="let checkbox of input.value.inputs">
        {{checkbox.name}}
        <input type="checkbox" [formControlName]="checkbox.name" [checked]="checkbox.value"/>
      </label>
    </fieldset>

    <ng-container *ngSwitchDefault>
      <label>
        <input [type]="input.type" [formControlName]="input.name"/>
      </label>
    </ng-container>
  </ng-container>
</div>
<app-loading-state *ngIf="!form"></app-loading-state>
