<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <app-asset-thumbnail [dataItem]="dataItem">
      <button (click)="edit()">edit</button>
    </app-asset-thumbnail>
  </ng-template>

  <ng-template #editingTemplate>
    <fieldset [formGroup]="assetForm">
      <div class="input-group">
        <label for="assetType">
          asset type
        </label>
        <app-multiple-input id="assetType" formControlName="assetType" [multiSelect]="false" [options]="assetTypesValues"></app-multiple-input>
      </div>
      <div class="input-group">
        <label for="contentType">
          content type
        </label>
        <app-multiple-input id="contentType" formControlName="contentType" [multiSelect]="false" [options]="contentTypesValues"></app-multiple-input>
      </div>
      <div class="input-group" [ngSwitch]="assetForm.value.contentType">
        <ng-container *ngSwitchCase="contentTypes.TEXT">
          <label for="textContent">
            content
          </label>
          <!--<textarea id="textContent" formControlName="content"></textarea>-->
          <quill-editor id="textContent" formControlName="content" [theme]="'snow'" [style]="{'min-height': '30vh'}"></quill-editor>
        </ng-container>
        <ng-container *ngSwitchCase="contentTypes.URL">
          <label for="urlContent" *ngSwitchCase="contentTypes.URL">
            URL
          </label>
          <input type="url" id="urlContent" formControlName="content">
        </ng-container>
        <ng-container *ngSwitchCase="contentTypes.FILE">
          <label for="fileContent">
            file
          </label>
          <input type="file" id="fileContent" formControlName="content">
        </ng-container>
      </div>
      <button (click)="saveAssetHeader($event)">save</button>
    </fieldset>
  </ng-template>
</app-dynamic-state>
