<h1 class="app-branding">
  <a [routerLink]="['/']">
    <span class="logo">
      <img src="assets/images/logo/absQra.svg" alt="absQra logo">
    </span>
    <span class="text">absQra</span>
  </a>
</h1>
<app-in-flow-tip name="absqra">
  absQra stands for ABStract Questioning RAtionale
  <br>
  It's an input output constructor. Using it you can create interactive experiences for other actors.
  <br>
  An actor could be a human subject or machine.
  <br>
  Please read further tips :)
</app-in-flow-tip>
