@import "../../../styles/shared/partials/surfaces";
@import "../../../styles/shared/partials/limitations";
@import "vars";

:host{
  @extend .__card;
  @extend ._no-selection;
  @include marginalElementEdge(top);
  width: 100%;
  min-height: $large-panel-bar;
  background-color: $primary-background;
  .app-branding {
    a{
      color: inherit;
      text-decoration: none;
    }
    .text{
      margin-left: .25em;
    }
    .logo{
      display: inline-block;
      width: 1em;
      vertical-align: middle;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
