<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <div>
      <h4>{{sequence.header.name}}</h4>
      <p>{{sequence.header.description}}</p>
      <p>life cycle: {{sequence.header.lifeCycle}}</p>
      <button (click)="editHeader()">edit</button>
    </div>
  </ng-template>
  <ng-template #editingTemplate>
    <form [formGroup]="sequenceForm" (submit)="saveHeader()">
      <fieldset formGroupName="header">
        <label for="name">
          name
        </label>
        <input type="text" id="name" formControlName="name">

        <label for="description">
          description
        </label>
        <textarea id="description" formControlName="description"></textarea>

        <label for="lifeCycle">
          life cycle
        </label>
        <select formControlName="lifeCycle" id="lifeCycle">
          <option *ngFor="let lc of lifeCycleOptions" [value]="lc">{{lc}}</option>
        </select>
      </fieldset>
      <button type="submit">save</button>
    </form>
    <!--<form #dataItemForm="ngForm" (submit)="save(dataItemForm)">-->
      <!--<div>-->
      <!--</div>-->
      <!--<div>-->
        <!--<label for="sequenceDescription">-->
          <!--notes-->
        <!--</label>-->
        <!--<textarea id="sequenceDescription" name="description" [(ngModel)]="dataItem.header.description"></textarea>-->
      <!--</div>-->
      <!--<button type="submit">save</button>-->
    <!--</form>-->
  </ng-template>
</app-dynamic-state>

<app-dynamic-state [state]="state">
  <!--<section>-->
    <!--<h5>Steps</h5>-->
    <!--<app-step-list [sourceItemId]="dataItemId"></app-step-list>-->
  <!--</section>-->
</app-dynamic-state>
