<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <div>
      <h4>{{sequence.header.name}}</h4>
      <p>{{sequence.header.description}}</p>
      <p>life cycle: {{sequence.header.lifeCycle}}</p>
      <button (click)="editHeader()">edit</button>
    </div>
  </ng-template>
  <ng-template #editingTemplate>
    <form [formGroup]="sequenceForm" (ngSubmit)="saveHeader()">
      <fieldset formGroupName="header">
        <label for="name">
          name
        </label>
        <input type="text" id="name" formControlName="name">

        <label for="description">
          description
        </label>
        <textarea id="description" formControlName="description"></textarea>

        <label for="lifeCycle">
          life cycle
        </label>
        <select formControlName="lifeCycle" id="lifeCycle">
          <option *ngFor="let lc of lifeCycleOptions" [value]="lc">{{lc}}</option>
        </select>
      </fieldset>
      <button type="submit">save</button>
    </form>
  </ng-template>
</app-dynamic-state>

<app-dynamic-state [state]="state">
  <ng-template #defaultTemplate>
    <section>
      <!--<app-step-list [sourceSequenceId]="sequenceId"></app-step-list>-->
      <form [formGroup]="sequenceForm">
        <legend>
          <h5>Steps</h5>
        </legend>
        <app-array-input-old formArrayName="steps" [archetype]="defaultStep">
          <ng-template let-arrayItem let-i="itemIndex">
            <!--<app-step-detail [dataItemId]="arrayItem.item?.id" [(dataItem)]="arrayItem.item" (dataItemChange)="onSingleItemChanged(stepsInput, $event, i)"></app-step-detail>-->
            <p>;sdkjf</p>
          </ng-template>
        </app-array-input-old>
      </form>
    </section>
  </ng-template>
</app-dynamic-state>
