<div *ngIf="item">
  <fieldset>
    <label>
      Item name
      <input type="text" [(ngModel)]="item.name">
    </label>
    <label>
      Item question
      <textarea [(ngModel)]="item.question"></textarea>
    </label>
    <label>
      Item type
      <select [(ngModel)]="item.type">
        <option *ngFor="let type of itemTypes; let i = index;" [value]="i">{{type}}</option>
      </select>
    </label>
  </fieldset>
  <fieldset>
    <h5>Add item assets</h5>
    <app-asset-editor *ngFor="let asset of item.assets" [asset]="asset" [originItem]="item"></app-asset-editor>
    <button (click)="addItemAsset()">+ New asset</button>
  </fieldset>
  <button (click)="saveItem()">Save item</button>
</div>
