<fieldset class="form-group">
    <label for="itemName">Name:</label>
    <small class="form-text text-muted"></small>
    <input class="form-control" type="text" name="itemName">
</fieldset>
<fieldset class="form-group">
    <label for="itemDescription">Description:</label>
    <small class="form-text text-muted"></small>
    <textarea class="form-control" type="text" name="itemDescription"></textarea>
</fieldset>
<fieldset class="form-group">
    <label for="itemType">Type:</label>
    <small class="form-text text-muted"></small>
    <select class="form-control" type="text" name="itemType"></select>
</fieldset>
