<inplace-edit-switch *ngIf="item" [editState]="itemEditorIsActive">
    <div viewer>
        <h3>{{ item?.name }}</h3>
        <p>{{ item?.description }}</p>
    </div>

    <div editor *ngIf="itemBaseFormGroup">
        <form [formGroup]="itemBaseFormGroup" (ngSubmit)="saveItem($event)">
            <fieldset class="form-group">
                <label for="name">Name:</label>
                <small class="form-text text-muted"></small>
                <input class="form-control" type="text" formControlName="name" id="name">
            </fieldset>
            <fieldset class="form-group">
                <label for="description">Description:</label>
                <small class="form-text text-muted"></small>
                <textarea class="form-control" type="text" formControlName="description" id="description"></textarea>
            </fieldset>
            <div class="form-group">
                <label for="description">Primary text:</label>
                <small class="form-text text-muted">Main item task or question</small>
                <textarea class="form-control" type="text" id="primaryText" formControlName="primaryText"></textarea>
            </div>

            <div class="form-group">
                <label for="description">Guidance text:</label>
                <small class="form-text text-muted">guidance on how to complete this item</small>
                <textarea class="form-control" type="text" id="guidanceText" formControlName="guidanceText"></textarea>
            </div>
            <fieldset class="form-group" formGroupName="itemConfig">
                <label for="itemType">Type:</label>
                <small class="form-text text-muted"></small>
                <!--<select class="form-control" type="text" name="itemType" id="itemType"></select>-->
                <div id="itemType" class="form-control flex-sm-wrap btn-group-justified" data-toggle="buttons" ngbRadioGroup ngDefaultControl>
                    <label *ngFor="let opt of itemTypeOptions" class="btn btn-sm btn-primary">
                        <input formControlName="itemType" value="{{opt.value}}" [checked]="opt.value===itemBaseFormGroup?.controls('itemConfig.itemType')" type="radio" autocomplete="off">{{opt.verbose}}
                    </label>
                </div>
            </fieldset>
            <div [formGroup]="itemDetailsFormGroup" >
                <div *ngIf="itemDetailsFormContent.inputType" class="form-group">
                    <label for="inputType">Field type</label>
                    <select class="form-control" [formControl]="itemDetailsFormContent.inputType" id="inputType">
                        <option *ngFor="let opt of (currentItemType?.fields | fieldNameFind:'inputType')?.options" value="{{opt.value}}">{{opt.verbose}}</option>
                    </select>
                </div>

                <div *ngIf="itemDetailsFormContent.allowUndefined || itemDetailsFormContent.allowOther" class="form-group mb-2 row">
                    <div *ngIf="itemDetailsFormContent.allowUndefined" class="form-check col-12 col-sm-6">
                        <label class="form-check-label flex-wrap">
                            <div class="fb-100">
                                <input class="form-check-input" type="checkbox" [formControl]="itemDetailsFormContent.allowUndefined">
                                <span class="form-text">Allow N/A</span>
                            </div>
                            <small class="form-text text-muted fb-100">no answer</small>
                        </label>
                    </div>

                    <div *ngIf="itemDetailsFormContent.allowOther" class="form-check col-12 col-sm-6">
                        <label class="form-check-label flex-wrap">
                            <div class="fb-100">
                                <input class="form-check-input" type="checkbox" [formControl]="itemDetailsFormContent.allowOther">
                                <span class="form-text">Allow other...</span>
                            </div>
                            <small class="form-text text-muted fb-100">adds input for custom option</small>
                        </label>
                    </div>
                </div>


                <div *ngIf="itemDetailsFormContent.maxChar || itemDetailsFormContent.minChar" class="form-inline mb-2 row">
                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Min characters</div>
                        <input type="number" class="form-control" placeholder="N" [formControl]="itemDetailsFormContent.minChar">
                    </div>

                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Max characters</div>
                        <input type="number" class="form-control" placeholder="NNN" [formControl]="itemDetailsFormContent.maxChar">
                    </div>
                </div>

                <div *ngIf="itemDetailsFormContent.maxCount || itemDetailsFormContent.minCount" class="form-inline mb-2 row">
                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Min count</div>
                        <input type="number" class="form-control" placeholder="N" [formControl]="itemDetailsFormContent.minCount">
                    </div>

                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Max count</div>
                        <input type="number" class="form-control" placeholder="NNN" [formControl]="itemDetailsFormContent.maxCount">
                    </div>
                </div>

                <div *ngIf="itemDetailsFormContent.maxValue || itemDetailsFormContent.minValue" class="form-inline mb-2 row">
                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Min value</div>
                        <input type="number" class="form-control" placeholder="N" [formControl]="itemDetailsFormContent.minValue">
                    </div>

                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Max value</div>
                        <input type="number" class="form-control" placeholder="NNN" [formControl]="itemDetailsFormContent.maxValue">
                    </div>
                </div>

                <div *ngIf="itemDetailsFormContent.maxDate || itemDetailsFormContent.minDate" class="form-inline mb-2 row">
                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Earliest date</div>
                        <input class="form-control ngb-datepicker" ngb-datepicker placeholder="fix datepicker" [formControl]="itemDetailsFormContent.minDate">
                    </div>

                    <div class="input-group col-12 col-sm-6">
                        <div class="input-group-addon" role="label">Latest date</div>
                        <input class="form-control ngb-datepicker" ngb-datepicker placeholder="fix datepicker" [formControl]="itemDetailsFormContent.maxDate">
                    </div>
                </div>

                <div *ngIf="itemDetailsFormContent.display" class="form-group">
                    <label for="description">Display content:</label>
                    <small class="form-text text-muted">display formatted text with links and images</small>
                    <textarea class="form-control" type="text" id="display" [formControl]="itemDetailsFormContent.display"></textarea>
                </div>

                <div *ngIf="itemDetailsFormContent.assets" class="form-group">
                    <h6>Item assets</h6>
                    <small class="form-text text-muted">stimuli provided to respondent</small>
                    <ul class="list-unstyled">
                        <li *ngFor="let option of itemDetailsFormContent.assets.controls; let i = index;">
                            <div class="form-inline mb-2 row">
                                <div class="input-group col-12 col-sm-4">
                                    <div class="input-group-addon" role="label">Source type</div>
                                    <select class="custom-select" [formControl]="option.controls.sourceType">
                                        <option *ngFor="let opt of sourceTypeConfig.options" value="{{opt.value}}">{{opt.verbose}}</option>
                                    </select>
                                </div>

                                <div class="input-group col-12 col-sm-6" *ngIf="option.controls.value">
                                    <div class="input-group-addon" role="label">Option text:</div>
                                    <input class="form-control" placeholder="Option text" [formControl]="option.controls.value">
                                </div>

                                <div class="input-group col-12 col-sm-6" *ngIf="option.controls.valueSource">
                                    <div class="input-group-addon" role="label">Option source:</div>
                                    <select class="custom-select" [formControl]="option.controls.valueSource">
                                        <option *ngFor="let opt of valueSourceOptions" value="{{opt.value}}">{{opt.verbose}}</option>
                                    </select>
                                </div>
                                <div class="input-group col-sm-2">
                                    <a role="button" class="btn btn-outline-secondary" (click)="itemDetailsFormContent.removeAt_assets(i)">Remove</a>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a role="button" class="btn btn-block btn-outline-primary" (click)="itemDetailsFormContent.addTo_assets()">+ Add asset</a>
                        </li>
                    </ul>
                </div>


                <div *ngIf="itemDetailsFormContent.options" class="form-group">
                    <h6>Response options</h6>
                    <small class="form-text text-muted">e.g. how respondent can react on given stimuli</small>
                    <ul class="list-unstyled">
                        <li *ngFor="let option of itemDetailsFormContent.options.controls; let i = index;">
                            <div class="form-inline mb-2 row">
                                <div class="input-group col-12 col-sm-4">
                                    <div class="input-group-addon" role="label">Source type</div>
                                    <select class="custom-select" [formControl]="option.controls.sourceType">
                                        <option *ngFor="let opt of sourceTypeConfig.options" value="{{opt.value}}">{{opt.verbose}}</option>
                                    </select>
                                </div>

                                <div class="input-group col-12 col-sm-6" *ngIf="option.controls.value">
                                    <div class="input-group-addon" role="label">Option text:</div>
                                    <input class="form-control" placeholder="Option text" [formControl]="option.controls.value">
                                </div>

                                <div class="input-group col-12 col-sm-6" *ngIf="option.controls.valueSource">
                                    <div class="input-group-addon" role="label">Option source:</div>
                                    <select class="custom-select" [formControl]="option.controls.valueSource">
                                        <option *ngFor="let opt of valueSourceOptions" value="{{opt.value}}">{{opt.verbose}}</option>
                                    </select>
                                </div>
                                <div class="input-group col-sm-2">
                                    <a role="button" class="btn btn-outline-secondary" (click)="itemDetailsFormContent.removeAt_options(i)">Remove</a>

                                </div>
                            </div>
                        </li>
                        <li>
                            <a role="button" class="btn btn-block btn-outline-primary" (click)="itemDetailsFormContent.addTo_options()">+ Add option</a>
                        </li>
                    </ul>
                </div>

            </div>

            <button type="reset" class="btn btn-outline-secondary">Cancel editing</button>
            <button type="submit" class="btn btn-primary">Done</button>
        </form>


    </div>
</inplace-edit-switch>
