<ng-container [ngTemplateOutlet]="currentTemplate" [ngTemplateOutletContext]="stateContext"></ng-container>

<ng-template #fallbackTemplate>
  <ng-content></ng-content>
</ng-template>

<ng-template #defaultLoadingTemplate>
  <app-loading></app-loading>
</ng-template>

<ng-template #defaultInterimTemplate>
  <app-disabled-content>
    <ng-container [ngTemplateOutlet]="viewingTemplate || editingTemplate || fallbackTemplate" [ngTemplateOutletContext]="stateContext"></ng-container>
  </app-disabled-content>
</ng-template>

<ng-template #defaultFailingTemplate>
  <app-error [error]="stateContext?.err"></app-error>
</ng-template>
