<h3>Project</h3>
<app-dynamic-state [state]="projectState">
  <ng-template #viewingTemplate>
    <div>
      <h4>{{dataItem.name}}</h4>
      <p>
        {{dataItem.description}}
      </p>
      <button (click)="editProject()">edit</button>
    </div>
  </ng-template>
  <ng-template #editingTemplate>
    <form #projectForm="ngForm" (submit)="save(projectForm)">
      <div>
        <label for="projectName">
          name
        </label>
        <input type="text" id="projectName" name="name" [(ngModel)]="dataItem.name">
      </div>
      <div>
        <label for="projectDescription">
          notes
        </label>
        <textarea id="projectDescription" name="description" [(ngModel)]="dataItem.description"></textarea>
      </div>
      <button type="submit">save</button>
    </form>
  </ng-template>
</app-dynamic-state>

<app-dynamic-state [state]="projectState">
  <ng-template #defaultTemplate>
    <section>
      <h4>Sequence</h4>
      <app-sequence-detail [dataItemId]="dataItem?.topSequenceId" [dataItem]="dataItem?.topSequence"
                           [defaultItemIfNone]="true" (dataItemChange)="onTopSequenceChange($event)">
      </app-sequence-detail>
    </section>

    <section>
      <h4>Respondents</h4>
      <app-respondent-list-list [respondentsLists]="dataItem?.respondentsLists"></app-respondent-list-list>
    </section>

    <section>
      <h4>Responses</h4>
      <app-response-list [responses]="dataItem?.responses"></app-response-list>
    </section>
  </ng-template>
</app-dynamic-state>
