@import "vars/var-sizes";

:host{
  width:100%;
  height: 100%;
  display: block;
  text-align: center;
  margin: $small-white-space;

  span{
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0 auto;
  }
}
