<label class="{{type}}-input-control" [ngSwitch]="type">
  <span class="label-text">{{label}}</span>

  <input appAutoFocus
         *ngSwitchCase="InputTypes.checkbox"
         [attr.name]="_innerValue.origin"
         type="checkbox"
         [(ngModel)]="_innerValue.content"
         (blur)="onBlur($event)"/>
  <input appAutoFocus
         *ngSwitchCase="InputTypes.radio"
         [attr.name]="name"
         [value]="_innerValue.origin"
         type="radio"
         [(ngModel)]="_innerValue.content"
         (blur)="onBlur($event)"/>
  <textarea appAutoFocus
            *ngSwitchCase="InputTypes.longText"
            [attr.name]="_innerValue.origin"
            [(ngModel)]="_innerValue.content"
            [attr.maxlength]="max"
            [attr.minlength]="min"
            (keydown)="onKeyDown($event)"
            (blur)="onBlur($event)"></textarea>
  <input appAutoFocus
         *ngSwitchDefault
         [attr.name]="_innerValue.origin"
         [type]="type"
         [(ngModel)]="_innerValue.content"
         [max]="max"
         [min]="min"
         (keydown)="onKeyDown($event)"
         (blur)="onBlur($event)"/>
</label>
