@import "partials/surfaces";
@import "vars";

:host{
  display: contents;
  div[dragScroll]{
    @extend .__surfaces-container;

    &.panning {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      > * {
        pointer-events: none;
        user-select: none;
      }
    }
  }
  .project-page{
    @extend ._page;
    > * {
     white-space: initial;
    }
    //.project-card{
    //  @extend ._card;
    //  flex-direction: column;
    //}

    .project-nav {
      display: flex;
      justify-content: flex-start;
      font-size: $large-font-size;
      margin: $small-white-space;
      a {
        margin: $small-white-space;
      }
    }
    //nav{
    //  a{
    //    margin: $x-small-white-space;
    //  }
    //}
  }
}
