<drag-scroll [snap-disabled]="true" [drag-disabled]="!panning" [ngClass]="{'panning': panning}">
  <section class="project-page">
    <app-in-flow-tip name="projectDetailDescription">
      Project is a combination of sequences, respondents and collected data.
    </app-in-flow-tip>
    <app-dynamic-state [state]="state">
      <ng-template #viewingTemplate>
        <app-project-thumbnail [dataItem]="dataItem">
        <div class="project-controls">
          <button (click)="edit()">edit</button>
          <button [routerLink]="['/answer', dataItem.topSequenceId]">try</button>
          <button (click)="download()">download</button>
        </div>
      </app-project-thumbnail>
      </ng-template>
      <ng-template #editingTemplate>
        <fieldset [formGroup]="dataItemForm">
          <div class="input-group">
            <label for="name">
              name
            </label>
            <input type="text" id="name" formControlName="name">
          </div>
          <div class="input-group">
            <label for="description">
              notes
            </label>
            <textarea id="description" formControlName="description"></textarea>
          </div>
          <button (click)="saveProjectHeader($event)">save</button>
        </fieldset>
      </ng-template>
    </app-dynamic-state>

    <app-dynamic-state [state]="state">
      <ng-template #defaultTemplate>
        <nav class="project-nav">
          <a routerLinkActive="active" [routerLink]="['design', dataItem.topSequenceId || sequenceDetailRouteParams.TOP]">design</a>
          <a routerLinkActive="active" [routerLink]="['respondents']">respondents</a>
          <a routerLinkActive="active" [routerLink]="['data']">data</a>
        </nav>
        <section>
          <router-outlet></router-outlet>
        </section>
      </ng-template>
    </app-dynamic-state>
  </section>
</drag-scroll>
