$primary-background: #fafafa !default;
$primary-text-color: #333 !default;
$primary-interactive: #1700FF !default;
$primary-accent: #FFCF40!default;
$primary-interactive-accent: #a200ff !default;

$error-color: #e62100 !default;
$secondary-accent: #CC8C14 !default;


$primary-interactive-background: mix($primary-background, lighten($primary-interactive, 45%)) !default;

$container-background: darken($primary-background, 8%)
