$line-size-unit: 1px !default;
$x-thin-line: .33 * $line-size-unit !default;
$thin-line: 1 * $line-size-unit !default;
$thick-line: 3 * $line-size-unit !default;
$x-thick-line: 9 * $line-size-unit !default;

$white-space-unit: 1em !default;
$x-small-white-space: 0.25 * $white-space-unit !default;
$small-white-space: 1 * $white-space-unit !default;
$medium-white-space: 2.75 * $white-space-unit !default;
$large-white-space: 4.20 * $white-space-unit !default;

$panel-bar-size-unit: 1em !default;
$small-panel-bar: 2.25 * $panel-bar-size-unit !default;
$medium-panel-bar: 3 * $panel-bar-size-unit !default;
$large-panel-bar: 3.75 * $panel-bar-size-unit !default;

$font-size-unit: 1rem !default;
$x-small-font-size: .5 * $font-size-unit !default;
$small-font-size: .75 * $font-size-unit !default;
$medium-font-size: 1.25 * $font-size-unit !default;
$large-font-size: 3 * $font-size-unit !default;
$x-large-font-size: 4.5 * $font-size-unit !default;
