<ng-container *ngIf="state | async">
  <h4>{{dataItem.name}}</h4>
  <p>
    {{dataItem.description}}
  </p>
  <app-asset-thumbnail [dataItem]="dataItem?.contentAsset"></app-asset-thumbnail>
  <dl>
    <dt>
      offers
    </dt>
    <dd>
      {{dataItem.offers}}
    </dd>
    <dt>
      expects
    </dt>
    <dd>
      {{dataItem.expects}}
    </dd>
    <dt>
      format constraints
    </dt>
    <dd>
      {{dataItem.formatConstraintsIds.length}}
    </dd>
    <dt>
      question options
    </dt>
    <dd>
      {{dataItem.questionAssetsIds.length}}
    </dd>
    <dt>
      response options
    </dt>
    <dd>
      {{dataItem.responseAssetsIds.length}}
    </dd>
  </dl>
  <ng-content></ng-content>
</ng-container>
