<app-dynamic-state [state]="state">
  <ng-template #viewingTemplate>
    <a class="step-type-label label-bottom" (click)="editType()">
      {{dataItem?.type}}
    </a>
  </ng-template>

  <ng-template #editingTemplate>
    <fieldset class="step-type-label label-bottom" [formGroup]="typeForm">
      <div class="input-group">
        <label for="stepType">
          type
          <app-in-flow-tip name="stepTypeDescription" [persistent]="false">
            Please select a type to see it's description
          </app-in-flow-tip>
        </label>
        <app-multiple-input id="stepType" [multiSelect]="false" [options]="stepTypesList" formControlName="type"></app-multiple-input>
      </div>
      <button (click)="save()">save</button>
    </fieldset>
  </ng-template>
</app-dynamic-state>

<div [ngSwitch]="dataItem?.type">
  <ng-container *ngSwitchCase="stepTypes.QUESTION_REF">
    <app-question-detail id="questionReferenceId" [dataItemId]="dataItem.questionReferenceId" (idChange)="updateReference($event, 'questionReference')"></app-question-detail>
  </ng-container>

  <ng-container *ngSwitchCase="stepTypes.TASK_REF">
    <app-task-detail id="taskReferenceId" [dataItemId]="dataItem.taskReferenceId" (idChange)="updateReference($event, 'taskReference')"></app-task-detail>
  </ng-container>

  <ng-container *ngSwitchCase="stepTypes.LOGICAL_ITEM">
    <app-logic-detail id="logicReferenceId" [dataItemId]="dataItem.logicReferenceId" (idChange)="updateReference($event, 'logicReference')"></app-logic-detail>
  </ng-container>

  <ng-container *ngSwitchCase="stepTypes.SEQUENCE_REF">
    <app-sequence-detail id="sequenceReferenceId" [dataItemId]="dataItem.sequenceReferenceId" (idChange)="updateReference($event, 'sequenceReference')"></app-sequence-detail>
  </ng-container>

  <ng-container *ngSwitchCase="stepTypes.ASSET_REF">
    <app-asset-detail [assetPurposeType]="assetPurposeTypes.STEP_CONTENT" id="assetReferenceId" [dataItemId]="dataItem.assetReferenceId" (idChange)="updateReference($event, 'assetReference')"></app-asset-detail>
  </ng-container>
</div>
