<app-dynamic-state [state]="stepTypeState">
  <ng-template #viewingTemplate>
    <a (click)="editType()">
      {{dataItem?.type}}
    </a>
  </ng-template>

  <ng-template #editingTemplate>
    <form [formGroup]="typeForm">
      <div>
        <label *ngFor="let type of stepTypesList; trackBy: trackType">
          <input type="radio" required formControlName="type" [value]="type">
          {{type}}
        </label>
      </div>
    </form>
  </ng-template>
</app-dynamic-state>

<!--<div [ngSwitch]="dataItem?.type">-->
  <!--<ng-container *ngSwitchCase="stepTypes.QUESTION_REF">-->
    <!--<app-dynamic-state [state]="state">-->
      <!--<ng-template #viewingTemplate>-->
        <!--<app-question-thumbnail [question]="dataItem.questionReference"></app-question-thumbnail>-->
      <!--</ng-template>-->
      <!--<ng-template #editingTemplate>-->
        <!--<select name="question" [(ngModel)]="dataItem.questionReference"></select>-->
      <!--</ng-template>-->
    <!--</app-dynamic-state>-->
    <!--<app-question-detail [dataItemId]="dataItem.questionReferenceId" [(dataItem)]="dataItem.questionReference" [defaultItemIfNone]="true" (dataItemChange)="stepContentChanged($event, dataItem)"></app-question-detail>-->
  <!--</ng-container>-->

  <!--<ng-container *ngSwitchCase="stepTypes.TASK_REF">-->
    <!--<app-dynamic-state [state]="state">-->
      <!--<ng-template #viewingTemplate>-->
        <!--<app-task-thumbnail [task]="dataItem.taskReference"></app-task-thumbnail>-->
      <!--</ng-template>-->
      <!--<ng-template #editingTemplate>-->
        <!--<select name="task" [(ngModel)]="dataItem.taskReference"></select>-->
      <!--</ng-template>-->
    <!--</app-dynamic-state>-->
    <!--<app-task-detail [task]="dataItem.taskReference"></app-task-detail>-->
  <!--</ng-container>-->

  <!--<ng-container *ngSwitchCase="stepTypes.LOGICAL_ITEM">-->
    <!--<app-dynamic-state [state]="state">-->
      <!--<ng-template #viewingTemplate>-->
        <!--<app-logic-thumbnail [logic]="dataItem.logicReference"></app-logic-thumbnail>-->
      <!--</ng-template>-->
      <!--<ng-template #editingTemplate>-->
        <!--<app-logic-detail [logic]="dataItem.logicReference"></app-logic-detail>-->
      <!--</ng-template>-->
    <!--</app-dynamic-state>-->
  <!--</ng-container>-->


  <!--<ng-container *ngSwitchCase="stepTypes.SEQUENCE_REF">-->
    <!--<app-dynamic-state [state]="state">-->
      <!--<ng-template #viewingTemplate>-->
        <!--<app-sequence-thumbnail [sequence]="dataItem.sequenceReference"></app-sequence-thumbnail>-->
      <!--</ng-template>-->
      <!--<ng-template #editingTemplate>-->
        <!--<label>-->
          <!--Select a sequence-->
          <!--<select name="sequence" [(ngModel)]="dataItem.sequenceReference"></select>-->
          <!--<button (click)="addAndEditNewSequence()">new sequence</button>-->
        <!--</label>-->
      <!--</ng-template>-->
    <!--</app-dynamic-state>-->
    <!--<app-sequence-detail [id]="dataItem.sequenceReferenceId"></app-sequence-detail>-->
  <!--</ng-container>-->

  <!--<div *ngSwitchCaseDefault>-->
    <!--{{step | json}}-->
  <!--</div>-->
<!--</div>-->
