<app-dynamic-state [state]="stepTypeState">
  <ng-template #viewingTemplate>
    <a (click)="editType()">
      {{dataItem?.type}}
    </a>
  </ng-template>

  <ng-template #editingTemplate>
    <form [formGroup]="typeForm">
      <div>
        <label *ngFor="let type of stepTypesList; trackBy: trackType">
          <input type="radio" required formControlName="type" [value]="type">
          {{type}}
        </label>
      </div>
    </form>
  </ng-template>
</app-dynamic-state>

<div [ngSwitch]="dataItem?.type">
  <ng-container *ngSwitchCase="stepTypes.QUESTION_REF">
    <app-question-detail [id]="dataItem.questionReferenceId" (idChange)="updateReference($event, 'questionReference')"></app-question-detail>
  </ng-container>

  <ng-container *ngSwitchCase="stepTypes.TASK_REF">

  </ng-container>

  <ng-container *ngSwitchCase="stepTypes.LOGICAL_ITEM">

  </ng-container>


  <ng-container *ngSwitchCase="stepTypes.SEQUENCE_REF">
    <label>
      Selected sequence
    </label>
    <app-sequence-thumbnail></app-sequence-thumbnail>
  </ng-container>
</div>
