@import "partials/surfaces";
@import "partials/limitations";
@import "vars";

:host{
  @extend ._card;
  @extend ._no-selection;
  @include marginalElementEdge(bottom);
  width: 100%;
  background-color: $primary-background;
  height: $small-panel-bar;
}
