<app-dynamic-state [state]="listState">
  <app-array-input [(ngModel)]="dataItems" #projectsInput="ngModel" [archetype]="archetype" (ngModelChanges)="onItemsChange(projectsInput)" [orderable]="false" [addAt]="addAt.START">
    <ng-template let-arrayItem let-i="itemIndex">
      <app-project-thumbnail *ngIf="arrayItem.item.id; else projectForm" [project]="arrayItem.item"></app-project-thumbnail>
      <ng-template #projectForm>
        <form #newProjectForm="ngForm" (submit)="createNewProject(projectsInput, arrayItem.item, i)">
          <input type="text" name="projectName" [(ngModel)]="arrayItem.item.name">
          <button type="submit">save</button>
        </form>
      </ng-template>
    </ng-template>
  </app-array-input>
</app-dynamic-state>
