<div dragScroll [snap-disabled]="true" [drag-disabled]="!panning" [ngClass]="{'panning': panning}">
  <section class="project-page">
    <h3>Project</h3>
    <app-dynamic-state [state]="state">
      <ng-template #viewingTemplate>
        <!--<div class="project-card">-->
          <app-project-thumbnail [dataItem]="dataItem">
            <button (click)="edit()">edit</button>
          </app-project-thumbnail>
        <!--</div>-->
      </ng-template>
      <ng-template #editingTemplate>
        <fieldset [formGroup]="projectForm">
          <div class="input-group">
            <label for="name">
              name
            </label>
            <input type="text" id="name" formControlName="name">
          </div>
          <div class="input-group">
            <label for="description">
              notes
            </label>
            <textarea id="description" formControlName="description"></textarea>
          </div>
          <button (click)="saveProjectHeader($event)">save</button>
        </fieldset>
      </ng-template>
    </app-dynamic-state>

    <app-dynamic-state [state]="state">
      <ng-template #defaultTemplate>
        <section>
          <h4>Sequence</h4>
          <app-sequence-detail [dataItemId]="dataItem.topSequenceId" (idChange)="onSequenceIdChange($event)">
          </app-sequence-detail>
        </section>

        <section>
          <h4>Respondents</h4>
          <app-respondent-list-list [respondentsLists]="dataItem?.respondentsLists"></app-respondent-list-list>
        </section>

        <section>
          <h4>Responses</h4>
          <app-response-list [responses]="dataItem?.responses"></app-response-list>
        </section>
      </ng-template>
    </app-dynamic-state>
  </section>
</div>
