@import "partials/surfaces";

:host{
  display: contents;
  div[dragScroll]{
    @extend ._surfaces-container;

    &.panning {
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      > * {
        pointer-events: none;
        user-select: none;
      }
    }
  }
  .project-page{
    @extend ._page;
    > * {
     white-space: initial;
    }
    .project-card{
      @extend ._card;
      flex-direction: column;
    }
  }
}
