<div>
    <div class="form-group">
        <ul class="card-deck" dnd-sortable-container [dropZones]="['assets']" [sortableData]="assets">
            <li *ngFor="let asset of assets; let i = index" class="card" dnd-sortable [sortableIndex]="i">
                {{asset.value}}
            </li>
        </ul>
    </div>

    <div class="form-group card">
        <div class="card-block" dnd-sortable-container [dropZones]="['assets']" [sortableData]="sortedAssets" >
            <ul class="list-unstyled">
                <li *ngFor="let asset of sortedAssets; let i = index" class="card" dnd-sortable [sortableIndex]="i">
                    {{asset.value}}
                </li>
            </ul>
        </div>
    </div>
</div>