<div class="row" *ngIf="item">
    <div class="col-12" [ngSwitch]="item.itemConfig.itemType">

        <div *ngSwitchCase="'display'">
            <h2>{{item.primaryText}}</h2>
            <p>{{item.guidanceText}}</p>
            <div [innerHTML]="item.display"></div>
        </div>

        <div *ngSwitchCase="'yes-no'">
            <form [formGroup]="responseForm">
                <fieldset >
                    <label for="responseInput">{{item.primaryText}}</label>
                    <small id="responseHelp" class="form-text text-muted">{{item.guidanceText}}</small>

                    <item-response-form-btn-group class="submission-control" (submitCall)="submitCall.emit($event)" (resetCall)="resetCall.emit($event)" [formGroup]="responseForm" [controlName]="'responseInput'"></item-response-form-btn-group>

                </fieldset>
            </form>
        </div>

        <div *ngSwitchDefault="">
            <form [formGroup]="responseForm" (ngSubmit)="submitCall.emit($event)">
                <fieldset [ngSwitch]="item.itemConfig.itemType" class="form-group">

                    <label for="responseInput">{{item.primaryText}}</label>
                    <small id="responseHelp" class="form-text text-muted">{{item.guidanceText}}</small>

                    <div *ngSwitchCase="'input'">
                        <item-response-form-input [formGroup]="responseForm" [inputType]="item.itemConfig.inputType" [controlName]="'responseInput'" [inputId]="'responseInput'" [describedby]="'responseHelp'"></item-response-form-input>
                    </div>

                    <div *ngSwitchCase="'text'">
                        <item-response-form-textarea [formGroup]="responseForm" [inputType]="item.itemConfig.inputType" [controlName]="'responseInput'" [inputId]="'responseInput'" [describedby]="'responseHelp'"></item-response-form-textarea>
                    </div>

                    <div *ngSwitchCase="'single-choice'">
                        <item-response-form-radio [formGroup]="responseForm" [controlName]="'responseInput'" [choices]="item.choices" [describedby]="'responseHelp'"></item-response-form-radio>
                    </div>

                    <div *ngSwitchCase="'multiple-choice'">
                        <item-response-form-checkbox [formGroup]="responseForm" [choices]="item.choices" [describedby]="'responseHelp'"></item-response-form-checkbox>
                    </div>

                    <div *ngSwitchCase="'listing'">
                        <item-response-form-listing [formGroup]="responseForm" [choices]="item.choices" [describedby]="'responseHelp'"></item-response-form-listing>
                    </div>

                    <div *ngSwitchCase="'ordering'">
                        <item-response-form-ordering [formGroup]="responseForm" [choices]="item.choices" [describedby]="'responseHelp'"></item-response-form-ordering>
                    </div>


                </fieldset>
            </form>

        </div>

    </div>
    <!--/ngSwitch-->
</div>
