<app-dynamic-state [state]="sequenceState">
  <ng-template #viewingTemplate>
    <div>
      <h4>{{dataItem.header.name}}</h4>
      <p>{{dataItem.header.description}}</p>
      <button (click)="editHeader()">edit</button>
    </div>
  </ng-template>
  <ng-template #editingTemplate>
    <form #dataItemForm="ngForm" (submit)="save(dataItemForm)">
      <div>
        <label for="sequenceName">
          name
        </label>
        <input type="text" id="sequenceName" name="name" [(ngModel)]="dataItem.header.name">
      </div>
      <div>
        <label for="sequenceDescription">
          notes
        </label>
        <textarea id="sequenceDescription" name="description" [(ngModel)]="dataItem.header.description"></textarea>
      </div>
      <button type="submit">save</button>
    </form>
  </ng-template>
</app-dynamic-state>

<app-dynamic-state [state]="sequenceState">
  <section>
    <h5>Steps</h5>
    <app-step-list [sourceItemId]="dataItemId"></app-step-list>
  </section>
</app-dynamic-state>
