<!--<p>-->
  <!--item-answer works!-->
<!--</p>-->

<div *ngIf="step">
  <form name="step-response" [ngSwitch]="step.item?.offers" (submit)="saveResponse()">
    <fieldset *ngSwitchCase="'multiple'">
      <app-asset-thumbnail [asset]="step.item?.question"></app-asset-thumbnail>
      <div *ngFor="let asset of step.item.assets; let i = index">
        <app-step-input [step]="step" [asset]="asset" [(stepResponse)]="response[i]"></app-step-input>
        <app-asset-thumbnail [asset]="asset"></app-asset-thumbnail>
      </div>
    </fieldset>
    <fieldset *ngSwitchCase="'one'">
      <app-asset-thumbnail [asset]="step.item?.question"></app-asset-thumbnail>
      <div>
        <app-step-input [step]="step" [asset]="step.item.assets[0]" [(stepResponse)]="response"></app-step-input>
        <app-asset-thumbnail [asset]="step.item.assets[0]"></app-asset-thumbnail>
      </div>
    </fieldset>
    <fieldset *ngSwitchCase="'none'">
      <div>
        <app-asset-thumbnail [asset]="step.item?.question"></app-asset-thumbnail>
        <app-step-input [step]="step" [(stepResponse)]="response"></app-step-input>
      </div>
    </fieldset>
    <button type="submit">Save & continue</button>
  </form>
</div>

<app-loading-state *ngIf="!step"></app-loading-state>
