<ng-container *ngIf="state | async">
  <dl>
    <div>
      <dt>
        type
      </dt>
      <dd>
        {{dataItem.type}}
      </dd>
    </div>

    <div *ngIf="dataItem.sourceStepId">
      <dt>
        evaluate output of
      </dt>
      <dd>
        <app-step-thumbnail [stepId]="dataItem.sourceStepId"></app-step-thumbnail>
      </dd>
    </div>

    <div *ngIf="dataItem.formatConstraintsIds.length">
      <dt>
        conditions
      </dt>
      <dd *ngFor="let condition of dataItem.formatConstraints">
        <app-format-constraint-thumbnail [dataItem]="condition"></app-format-constraint-thumbnail>
      </dd>
    </div>

    <div *ngIf="dataItem.destinationStepId">
      <dt>
        destination
      </dt>
      <dd>
        <app-step-thumbnail [stepId]="dataItem.destinationStepId"></app-step-thumbnail>
      </dd>
    </div>

    <div *ngIf="dataItem.alternativesIds.length">
      <dt>
        alternatives
      </dt>
      <dd *ngFor="let alt of dataItem.alternatives">
        <app-logic-thumbnail [dataItem]="alt"></app-logic-thumbnail>
      </dd>
    </div>
  </dl>
  <ng-content></ng-content>
</ng-container>
