@import "partials/surfaces";
@import "vars/var-sizes";

:host{
  @extend .__surfaces-container;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  .response-page {
    @extend ._page;
    flex-shrink: 0;
    footer {
      margin-top: $medium-white-space;
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
